@font-face {
	font-family: "Karen";
	src: url("./assets/fonts/karen.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@apply mobile:text-[23px] xxs:text-[18px];
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	@apply bg-primary-default text-secondary;
	height: 100%;
	width: 100%;
}

#borders {
	@apply border-[7px] border-primary-shadow h-[100vh] w-[100vw] fixed left-0 top-0 pointer-events-none z-[999999] overflow-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-secondary font-heading;
	height: fit-content;
}

h2 {
	@apply leading-7 text-title;
}

p,
pre {
	@apply text-base font-medium font-body;
	white-space: pre-wrap; /* Since CSS 2.1 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

section {
	@apply px-[.625rem] gap-x-[0.313rem] min-h-[97.15vh];
	height: fit-content;
}

img {
	image-rendering: -moz-crisp-edges; /* Firefox */
	image-rendering: -o-crisp-edges; /* Opera */
	image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

input[type="button"] {
	@apply bg-alternative text-primary-shadow px-7 py-[0.1rem] font-semibold rounded-full mx-auto;
	width: fit-content;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	@apply ring-2 ring-alternative bg-primary-shadow;
}

input,
textarea {
	@apply focus-visible:outline-none focus:ring-2 focus:ring-alternative;
}

.button {
	@apply col-span-6 bg-alternative text-primary-shadow font-semibold rounded-full px-10 py-[0.4rem] text-base w-full text-center;
}
